@page
@{
    ViewData["Title"] = "HAccent";
}

    <link href="~/css/centerimg.css" rel="stylesheet " type="text/css" />
    <body>
        <div class="col-sm-12" style="text-align:center;">
            <h1 style="font-family:'Times New Roman';">
                2020 Hyundai Accent

            </h1>
        </div>
        <hr />
        <div class="col-sm-12" style="text-align:center;">
            <h4 style="font-family:'Times New Roman';">
                Review, Pricing and Specs
            </h4>
        </div>
        <div class="col-sm-12 " style="text-align:center; margin-top:20px;">
            <img style="border-style: outset;width: 50%; height: 50%; border-radius: 20%;" src="~/Images/hyundaiAccent.jpg" />

        </div>
        <div class="col-sm-12" style="margin-top:60px;">
            <h3 style="font-weight:bold; font-family:'Times New Roman'; text-align:left;">Overview</h3>

        </div>
        <div class="form-row" style="margin-top:30px;">
            <div class="form-group col-sm-8">
                <p style="font-family:'Times New Roman'; font-size:20px; text-align:justify;">If you think it's impossible to be frugal and also park a nicely equipped new car in your driveway, you need to test-drive the 2020 Hyundai Accent. Offered in three distinct trims—from the price leader SE to the loaded Limited—the Accent provides something for everyone's budget. Its 1.6-liter four-cylinder engine is as efficient as the car's base price would suggest. We've found the lightweight Accent fun to drive and easy to pitch into corners with enough speed to make the tires squeal. In this case, the old saying is true: It's more fun to drive a slow car fast than to drive a fast car slow. If you just need a no-frills commutermobile, the Accent's cabin is spacious and utilitarian; higher-spec SEL and Limited models come with more gear than the base car, but all three come with touchscreen infotainment.</p>
            </div>
            <div class="form-group col-sm-4">

            </div>
        </div>

        <div class="col-sm-12" style="margin-top:35px;">
            <h3 style="font-weight: bold; font-family: 'Times New Roman'; text-align: left;">Pricing and Which One to Buy</h3>

        </div>
        <div class="col-sm-12" style="margin-top:30px;">
            <h6 style="font-weight: bold; font-family: 'Times New Roman'; text-align: left;">&bull; SE: $16,125</h6>

        </div>
        <div class="col-sm-12" style="margin-top:30px;">
            <h6 style="font-weight:bold; font-family:'Times New Roman'; text-align:left;">&bull; SEL: $18,480</h6>

        </div>
        <div class="col-sm-12" style="margin-top:30px;">
            <h6 style="font-weight:bold; font-family:'Times New Roman'; text-align:left;">&bull; Limited: $20,230</h6>

        </div>

        <div class="form-row" style="margin-top:30px;">
            <div class="form-group col-sm-8">
                <p style="font-family:'Times New Roman'; font-size:20px; text-align:justify;">It's no secret that we're fans of manual transmission cars, and it's refreshing to find a gold ol' stick shift offered as standard in the Accent. Unfortunately, it's only offered on the base level SE trim, which comes stripped down and lacking many of the features many car buyers might call essential. Still, it's a decently equipped and inexpensive small sedan and it's the one we'd suggest. For us, it's missing just one feature: aluminum wheels. Hyundai, hear our plea: Lose the cheap-looking steel wheels with wheel covers!</p>
            </div>
            <div class="form-group col-sm-4">

            </div>
        </div>

        <div class="col-sm-12" style="margin-top:35px;">
            <h3 style="font-weight: bold; font-family: 'Times New Roman'; text-align: left;">Engine, Transmission, and Performance</h3>

        </div>
        <div class="form-row" style="margin-top:30px;">
            <div class="form-group col-sm-8">
                <p style="font-family:'Times New Roman'; font-size:20px; text-align:justify;">The Accent's 1.6-liter four-cylinder engine makes 120 horsepower and drives the front wheels through either a six-speed manual or continuously variable automatic transmission (CVT). The four-cylinder is new for 2020 and we've not tested one, but we expect performance similar to last year's model which offered 130 horsepower. It's clear that ride comfort takes priority over deft handling. Still, the Accent feels lively, its small body is easily tossed into corners, and it's even rewarding when pushed. Rough roads are smoothed out adequately by the suspension, but harsh impacts will generate vibrations through the cabin.</p>
            </div>
            <div class="form-group col-sm-4">

            </div>
        </div>


    </body>

    

