@page
@{
    ViewData["Title"] = "Helantra";
}

<link href="~/css/centerimg.css" rel="stylesheet " type="text/css" />
<body>
    <div class="col-sm-12" style="text-align:center;">
        <h1 style="font-family:'Times New Roman';">
            2020 Hyundai Elantra

        </h1>
    </div>
    <hr />
    <div class="col-sm-12" style="text-align:center;">
        <h4 style="font-family:'Times New Roman';">
            Review, Pricing and Specs
        </h4>
    </div>
    <div class="col-sm-12 " style="text-align:center; margin-top:20px;">
        <img style="border-style: outset;width: 50%; height: 50%; border-radius: 20%;" src="~/Images/hyundai-elantra.jpg" />
     
    </div>
    <div class="col-sm-12" style="margin-top:60px;">
        <h3 style="font-weight:bold; font-family:'Times New Roman'; text-align:left;">Overview</h3>

    </div>
    <div class="form-row" style="margin-top:30px;">
        <div class="form-group col-sm-8">
            <p style="font-family:'Times New Roman'; font-size:20px; text-align:justify;">The 2020 Hyundai Elantra GT is a tidy and efficient package with clean, elegant design, but the GT suffix promises a bit more sportiness than it can deliver. It is not a particularly quick car. Instead, the base car with its mandatory six-speed automatic transmission is more in the mold of the highly lauded Volkswagen Golf—which, in our opinion, is one of the best hatchbacks you can buy. The base GT offers excellent fuel economy, class-leading cargo space, and a high level of standard equipment for the money. Its interior is sensibly designed and incorporates one of the most intuitive infotainment systems on the market—all Elantra GTs come standard with Apple CarPlay and Android Auto capability. Step up to the Elantra GT N Line, though, and things get a little saucier. The N Line, so named to align with the company's new performance offerings, gets a more powerful turbocharged engine, summer tires, and a choice of either a six-speed manual transmission or a seven-speed dual-clutch automatic.</p>
        </div>
        <div class="form-group col-sm-4">

        </div>
    </div>

    <div class="col-sm-12" style="margin-top:35px;">
        <h3 style="font-weight: bold; font-family: 'Times New Roman'; text-align: left;">Hyundai Elantra GT Pricing and Which One to Buy</h3>

    </div>
    <div class="col-sm-12" style="margin-top:30px;">
        <h6 style="font-weight: bold; font-family: 'Times New Roman'; text-align: left;">&bull;  Base: $21,605</h6>

    </div>
    <div class="col-sm-12" style="margin-top:30px;">
        <h6 style="font-weight:bold; font-family:'Times New Roman'; text-align:left;">&bull; N Line: $24,455</h6>

    </div>
   

    <div class="form-row" style="margin-top:30px;">
        <div class="form-group col-sm-8">
            <p style="font-family:'Times New Roman'; font-size:20px; text-align:justify;">The base Elantra GT competes with some of the best hatchbacks on the market, including the Volkswagen Golf, the Honda Civic, and the Mazda 3. The Hyundai can't quite match the level of responsiveness or solidity of those industry stalwarts. The N Line is a more desirable proposition. It is quicker and more powerful than the standard versions of the Golf, Civic, and 3, but less expensive than most of the higher-performance versions of those competitors including the GTI and the Civic Si. If you want a panoramic sunroof, adaptive cruise control, lane-keep assist, a premium audio system, and ventilated seats, you'll need to first pony up for the optional dual-clutch automatic transmission. Those items—along with additional niceties—are part of a technology package that is not offered on N Lines with the manual transmission. And those safety systems aren't available at all on base GTs.</p>
        </div>
        <div class="form-group col-sm-4">

        </div>
    </div>

    <div class="col-sm-12" style="margin-top:35px;">
        <h3 style="font-weight: bold; font-family: 'Times New Roman'; text-align: left;">Engine, Transmission, and Performance</h3>

    </div>
    <div class="form-row" style="margin-top:30px;">
        <div class="form-group col-sm-8">
            <p style="font-family:'Times New Roman'; font-size:20px; text-align:justify;">The Elantra GT is a front-wheel-drive hatchback, motivated by either a 161-hp four-cylinder engine or a 201-hp turbocharged four-cylinder. The base engine pairs exclusively with a six-speed automatic transmission, while the zestier version receives a standard six-speed manual or a seven-speed automatic. The regular GT won't offend laid-back drivers, but its nonturbocharged engine is less compelling than those of most competitors. The version we tested had the slowest acceleration times among similar rivals. We did like its lively throttle response at low revs, and the automatic transmission operated smoothly and inconspicuously. However, its responsiveness tops out at higher engine speeds, where coarse engine noise also plagues the cabin. While we haven't driven the recently renamed Elantra GT N Line, we have tested the previously named GT Sport. It went from zero to 60 mph in a class-competitive 6.6 seconds with the manual transmission, but the similarly equipped Volkswagen Golf GTI did it in 5.9 seconds. Still, the Hyundai's shifter was easy to manipulate, and the clutch pedal worked in a smooth and linear fashion. Every GT we drove exhibited a remarkable ride as we drove it over the wide variety of road surfaces that canvas southeast Michigan. It never felt unsettled on bumpy sections, passengers were well-isolated from harsh impacts, and the lack of shakes and rattles bode well for build quality. The GT had competent handling below the absolute limit and a balanced chassis that avoided feeling lifeless. Its light steering was accurate but lacked the feedback of rivals such as the Mazda 3 and the Volkswagen Golf. The Hyundai's brake pedal was oddly inconsistent in its response to our inputs, with a firmer feel in stop-and-go city traffic and less bite on the highway.</p>
        </div>
        <div class="form-group col-sm-4">

        </div>
    </div>


</body>

