@page
@{
    ViewData["Title"] = "HIoniqHybird";
}

<link href="~/css/centerimg.css" rel="stylesheet " type="text/css" />
<body>
    <div class="col-sm-12" style="text-align:center;">
        <h1 style="font-family:'Times New Roman';">
            2020 Hyundai Ioniq Hybird

        </h1>
    </div>
    <hr />
    <div class="col-sm-12" style="text-align:center;">
        <h4 style="font-family:'Times New Roman';">
            Review, Pricing and Specs
        </h4>
    </div>
    <div class="col-sm-12 " style="text-align:center; margin-top:20px;">
        <img style="border-style: outset;width: 50%; height: 50%; border-radius: 20%;" src="~/Images/hyundai-ioniq-hybrid.jpg" />
        
    </div>
    <div class="col-sm-12" style="margin-top:60px;">
        <h3 style="font-weight:bold; font-family:'Times New Roman'; text-align:left;">Overview</h3>

    </div>
    <div class="form-row" style="margin-top:30px;">
        <div class="form-group col-sm-8">
            <p style="font-family:'Times New Roman'; font-size:20px; text-align:justify;">If you're looking for an efficient alternative to a conventional gas-burning car, the Hyundai Ioniq likely has something to pique your interest with its three available powertrains. The Ioniq hybrid is more efficient than the Toyota Prius with an EPA city/highway combined rating of up to 58 mpg. While the different powertrains give each Ioniq model unique characteristics, every version is packed with features that make it a great value, including a standard 8.0-inch infotainment screen with Android Auto and Apple CarPlay compatibility. Refinement isn't the Ioniq's strong suit, though, and there are several compelling alternatives. The Honda Insight is more pleasant to drive, the Toyota Prius can be equipped with all-wheel drive, and the Corolla hybrid costs less. All of these competitors deliver similar efficiency as the Ioniq Hybrid.</p>
        </div>
        <div class="form-group col-sm-4">

        </div>
    </div>

    <div class="col-sm-12" style="margin-top:35px;">
        <h3 style="font-weight: bold; font-family: 'Times New Roman'; text-align: left;">Pricing and Which One to Buy</h3>

    </div>
    <div class="col-sm-12" style="margin-top:30px;">
        <h6 style="font-weight: bold; font-family: 'Times New Roman'; text-align: left;">&bull; Hybrid: $24,155</h6>

    </div>
    <div class="col-sm-12" style="margin-top:30px;">
        <h6 style="font-weight:bold; font-family:'Times New Roman'; text-align:left;">&bull; Plug-in hybrid: $27,455</h6>

    </div>
    <div class="col-sm-12" style="margin-top:30px;">
        <h6 style="font-weight:bold; font-family:'Times New Roman'; text-align:left;">&bull; Electric: $34,000</h6>

    </div>

    <div class="form-row" style="margin-top:30px;">
        <div class="form-group col-sm-8">
            <p style="font-family:'Times New Roman'; font-size:20px; text-align:justify;">We'd skip the Ioniq plug-in hybrid, as its weak 60-hp electric motor means the gas engine often fires up to keep pace with city traffic, even when the battery is fully charged. The longer range of the 2020 Ioniq Electric makes that model a much more compelling purchase than in the past, but it's only sold in fourteen states. Our pick is the Ioniq hybrid, which is as affordable as it is thrifty. While the base trim, called Blue, is nicely equipped with dual-zone automatic climate control, SiriusXM satellite radio, and a proximity key, we'd spring for the mid-level $25,880 Ioniq SE hybrid. It adds luxuries such as heated front seats, a 10-way power-adjustable driver's seat, and a leather-wrapped steering wheel.</p>
        </div>
        <div class="form-group col-sm-4">

        </div>
    </div>

    <div class="col-sm-12" style="margin-top:35px;">
        <h3 style="font-weight: bold; font-family: 'Times New Roman'; text-align: left;">Engine, Transmission, and Performance</h3>

    </div>
    <div class="form-row" style="margin-top:30px;">
        <div class="form-group col-sm-8">
            <p style="font-family:'Times New Roman'; font-size:20px; text-align:justify;">The Ioniq hybrid isn't quick, requiring 8.9 seconds to accelerate from zero to 60 mph. Shift timing isn't perfect in Eco mode; the transmission pauses too long to downshift when you want to accelerate. The Ioniq Electric doesn't feel as zippy as the Chevy Bolt from standstill, forcing the driver to dip deeper into the throttle to achieve the instant zoom that makes EVs so appealing. The plug-in hybrid Ioniq's combination of a 1.6-liter four-cylinder engine, electric motor, and six-speed dual-clutch automatic transmission will be familiar to fans of the Ioniq and its cousin, the Kia Niro. The Ioniq holds its own on curvy roads, responding obediently to steering inputs and maintaining a firm grip on the road. If pushed hard in corners, the body leans, but overall the car feels stable and competent in most every situation. Pleasantly surprising are its composed ride and relaxed highway manners. All Ioniqs have steering-wheel paddles that you can use to modulate the level of regenerative braking, allowing drivers to approximate the one-pedal driving style that Tesla has popularized among EV cognoscenti.</p>
        </div>
        <div class="form-group col-sm-4">

        </div>
    </div>


</body>


