@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
    



<body  style="background-image: url('../Images/car.jpg'); background-size:100% 100%; background-repeat:no-repeat">
    <div style="margin-top:3%;" class="form-row">

        <div style="  border-style:outset; border-radius:25px; border-color:rgba(0, 0, 0, 0.83)" class="form-group col-sm-7 ">
            <p style="  font-size:40px; font-style:italic; font-weight:bold;">Who are we?</p>
            <p style=" font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size:15px; color:rgba(0, 0, 0, 0.91); font-weight:bold;">HYUNDAI is a South Korean multinational automotive manufacturer headquartered in Seoul. Hyundai Motor Company was founded in 1967 and, along with its 32.8% owned subsidiary, Kia Motors, and its 100% owned luxury subsidiary Genesis Motor,altogether comprise the Hyundai Motor Group. </p>
        </div>
        <div class="form-group col-sm-5">

        </div>


    </div>

   
</body>